#datepicker:focus > .ui-datepicker {
	display: block;
}

.ui-widget.ui-widget-content {
	border: 1px solid #d8dde2;
}

.ui-widget-header {
	border: 0 solid #dddddd;
	background: #fff;
}

.ui-widget-header .ui-icon {
	background-image: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, .ui-button.ui-state-disabled:hover, .ui-button.ui-state-disabled:active {
	border: none;
	background-color: transparent;
	font-weight: normal;
	color: #454545;
	text-align: center;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
	border: none;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	position: relative;
	border: 0;
}

.ui-state-highlight::before, .ui-widget-content .ui-state-highlight::before, .ui-widget-header .ui-state-highlight::before {
	z-index: -1;
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	padding-top: 100%;
	width: 100%;
	background: #f4f5f8;
	border-radius: 4px;
}

.ui-state-disabled {
	cursor: auto;
	color: #cccccc;
}

.ui-datepicker {
	display: none;
	margin: 20px 0 0;
	padding: 20px 24px 24px;
	width: 292px;
	border-radius: 16px;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.ui-datepicker .inp {
	padding: 10px 10px;
	background-color: #f1f1f1;
	border-radius: 4px;
	border: 0;
}

.ui-datepicker .inp:focus {
	outline: none;
	background-color: #eee;
}

.ui-datepicker .ui-datepicker-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 0 0 24px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 32px;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #2e3337;
	line-height: 1.4;
	text-align: center;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: initial;
	width: 20px;
	height: 20px;
}

.ui-datepicker .ui-datepicker-next {
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	position: initial;
	margin: 0;
}

.ui-datepicker .ui-icon-circle-triangle-e {
	width: 20px;
	height: 20px;
	--bg-color: #141618;
	-webkit-mask-image: url("../img/common/icon_arrow_right.svg");
	        mask-image: url("../img/common/icon_arrow_right.svg");
	-webkit-mask-clip: content;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--bg-color);
}

.ui-datepicker .ui-icon-circle-triangle-w {
	width: 20px;
	height: 20px;
	--bg-color: #141618;
	-webkit-mask-image: url("../img/common/icon_arrow_right.svg");
	        mask-image: url("../img/common/icon_arrow_right.svg");
	-webkit-mask-clip: content;
	-webkit-mask-size: contain;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center;
	background-color: var(--bg-color);
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
}

.ui-datepicker-prev, .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker .ui-datepicker-calendar {
	margin-bottom: 0;
	width: 100%;
}

.ui-datepicker .ui-datepicker-calendar > thead > tr > th {
	padding: 5px;
	font-size: 14px;
	font-weight: 400;
	color: #7c828b;
}

.ui-datepicker .ui-datepicker-calendar > thead > tr > th:first-child {
	color: #ea463d;
}

.ui-datepicker .ui-datepicker-calendar > thead > tr > th:last-child {
	color: #7c828b;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > .ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td {
	padding: 5px;
	width: 44px;
	height: 30px;
	font-family: "Noto Sans KR", sans-serif;
	font-size: 14px;
	color: #2e3337;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td > a {
	width: 28px;
	height: 28px;
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #2e3337;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td:hover a {
	background-color: #3575f6;
	border-radius: 4px;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td:hover a::before {
	background-color: #3575f6 !important;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td:hover a {
	color: #fff !important;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td:first-child a {
	color: #ea463d;
}

.ui-datepicker .ui-datepicker-calendar > tbody > tr > td:last-child a {
	color: #2e3337;
}
/*# sourceMappingURL=maps/datepicker.css.map */
